*{
    background-color: rgb(224, 224, 224);
    color:rgb(20, 19, 19);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    font-family: 'Dancing Script', cursive;
    color:#71bd85;
}

h2 {
    font-size: 2rem;
    color:#71bd85;
}

a { 
    font-size: 16px;
    color:rgb(128, 73, 0);
    font-weight: 500;
    text-decoration: none;
}

p{
    text-indent: 50;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}